.Temporary_save_modal_background{
    display: flex;
    padding: 100px 426.5px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.Temporary_save_modal_container{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 194px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
}

.Temporary_save_modal_text_container{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.Temporary_save_modal_text{


    font-family: Pretendard-SemiBold;
    color: rgb(25, 25, 25);
    text-align: center;
    white-space: pre-line;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
}