.Temporary_save_back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* 회색 반투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 설정 */
}

.Temporary_save_modal_container{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 199px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
}

.Temporary_save_modal_text_container{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.Temporary_save_modal_text{


    font-family: Pretendard-SemiBold;
    color: rgb(25, 25, 25);
    text-align: center;
    white-space: pre-line;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
}

.Temporary_save_modal_divider{
    width: 315px;
    height: 1px;
    background-color: rgb(246, 246, 246);
}

.Temporary_save_modal_button1{

    cursor : pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 155px;
    padding: 22px 20px;
    color: rgb(127, 127, 127);
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    border-right: 1px solid rgb(246, 246, 246);
    border-left:none;
    border-top:none;
    border-bottom:none;
}

.Temporary_save_modal_button2{

    cursor : pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 156px;
    padding: 22px 20px;
    color: rgb(0, 165, 135);
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}

.Temporary_save_modal_button_container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}