.Search_page_section{
    display: flex;
    padding: 20px 200px 0px 200px;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255,255,255);
    width: 1024px;
    min-height: 100vh;
}

.Search_page{
    background-color: rgb(255,255,255);
}