/* Tabs 관련 CSS */
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* 기본 하단 선 */
    margin-top: 20px;
    position: relative; /* 자식 요소의 위치 제어 */
}

.tab {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    color: gray;
    border: 1px solid #ddd;
    border-bottom: 1px solid black; /* 기본적으로 아래쪽 선 제거 */
}

.tab.active {
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid black; /* 탭 전체를 감싸는 검은색 선 */
    border-bottom: 1px solid white; /* 하단 선이 표시되지 않도록 흰색으로 */
    z-index: 1; /* 다른 탭보다 위에 표시되도록 설정 */
}

.tab-title-large {
    font-size: 17px; /* 상품 0 텍스트 크기 크게 */
    text-align: left;
    color: black;
    margin-bottom: 30px;
}

/* Product Section */
.product-section {
    padding: 20px;
    text-align: center;
    color: gray;
    padding-left: 200px;
    width:120vh;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-dropdown-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    color: gray;
}

.custom-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-dropdown-option {
    padding: 8px 12px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.custom-dropdown-option:hover {
    background-color: #f5f5f5;
}

.dropdown-icon {
    display: flex;
    margin-left: 30px;
    margin-right: 0;
    transition: transform 0.2s ease;
}
