/* Tabs 관련 CSS */
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* 기본 하단 선 */
    margin-top: 20px;
    position: relative; /* 자식 요소의 위치 제어 */
}

.tab {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    color: gray;
    border: 1px solid #ddd;
    border-bottom: 1px solid black; /* 기본적으로 아래쪽 선 제거 */
}

.tab.active {
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid black; /* 탭 전체를 감싸는 검은색 선 */
    border-bottom: 1px solid white; /* 하단 선이 표시되지 않도록 흰색으로 */
    z-index: 1; /* 다른 탭보다 위에 표시되도록 설정 */
}

.tab-line {
    width: 100%;
    height: 1px;
    background-color: #e3e0e0;
    margin-top: 8px;
}

.tab-title-large {
    font-size: 17px; /* 상품 0 텍스트 크기 크게 */
    text-align: left;
    color: black;
    margin-bottom: 30px;
}

/* Product Section */
.product-section {
    padding: 20px;
    text-align: center;
    color: gray;
}

.dropdown {
    padding: 5px 10px;
    padding-left: 5px;
    padding-right: 60px;
    font-size: 12px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}

.dropdown option:hover {
    background-color: transparent; /* 배경색 투명 유지 */
    color: red; /* 폰트 색상 빨간색으로 변경 */
}
