.plus-info{
    font-size: 12px;
    color: gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}

.chat-input.read-only {
    pointer-events: none; /* ✅ 클릭 방지 */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    padding: 0 15px 0 10px;
    border-radius: 0;
    color: #888; /* 글자색 */
    font-size: 14px;
    margin: 10px auto; /* 가운데 정렬 */
    background-color: transparent; /* ✅ 배경을 완전히 투명하게 */
}

.disabled-message {
    border-radius: 20px;
    color: #888; /* 글자색 */
    border: 1px solid lightgray;
    font-size: 13px;
    padding: 12px 380px 12px 12px;
}

/* 메시지 입력 영역 */
.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-left: 8px;
    margin-top: 5px ;
}

/* 텍스트 입력 필드 */
.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-right: 10px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
}

/* 파일 업로드 버튼 숨기기 */
.chat-input input[type="file"] {
    display: none;
}

/* 파일 선택 버튼 (커스터마이징된 label) */
.chat-input .file-input-label {
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-size: 1rem;
    color: #777;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input .file-input-label:hover {
    background-color: #e1e1e1;
}

/* 전송 버튼 */
.chat-input button {
    background-color: #4c00ff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 5px;
}

.chat-input button:disabled {
    background-color: #b3d0f2;
    cursor: not-allowed;
}

.Send-button {
    font-size: 1.5rem; /* 아이콘 크기 조정 */
    color: red; /* 빨간색 */
    cursor: pointer; /* 클릭 가능하게 */
    transition: transform 0.3s ease, color 0.3s ease; /* 클릭 시 애니메이션 추가 */
    padding-top: 3px;
}

